SECRET_KEY=STRONG_KEY_HERE
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# PostgreSQL connection
POSTGRES_DB=dashboard_react
DB_USER=dashboard_user
DB_PASSWORD=Admin@123
DB_HOST=localhost
DB_PORT=5432

# CORS override example
# CORS_ALLOWED_ORIGINS=http://localhost:3000 http://127.0.0.1:3000
